<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/baida</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.baida.model.Activity"/>
      <mapping class="com.baida.model.Address"/>
      <mapping class="com.baida.model.Goods"/>
      <mapping class="com.baida.model.Goodsclass"/>
      <mapping class="com.baida.model.Horseman"/>
      <mapping class="com.baida.model.Order"/>
      <mapping class="com.baida.model.Orderitem"/>
      <mapping class="com.baida.model.Shop"/>
      <mapping class="com.baida.model.User"/>
      <mapping class="com.baida.model.Admin"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>